@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Londrina Solid', cursive;
  font-family: 'Bungee Shade', cursive;
  font-size: 62.5%; }

body {
  background: #000000; }

h1 {
  font: 900 5.3rem "Roboto";
  color: #ffffff;
  text-align: center; }

h2 {
  font: 900 5rem "Roboto";
  color: #404040; }

h3 {
  font: 500 3rem "Roboto";
  color: #404040; }

p {
  font: normal 1.8rem "Roboto";
  color: #404040; }

a {
  display: inline-block;
  text-decoration: none; }

a.navLink:hover {
  text-decoration: underline; }

.gridContainer {
  max-width: 1300px;
  margin: 0 auto; }

.logo {
  width: 20%;
  text-align: center;
  font: 900 7rem "Londrina Solid";
  color: #fff;
  margin: 5px; }

li {
  margin: 15px;
  list-style: none; }

/*----------------------------- header ---------------------------*/
.header {
  padding: 30px; }

.flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.navUp .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.navUp {
  margin: 5px; }

.navLink {
  font: 900 2.5rem "Bungee Shade";
  color: #35503f; }

.flex2 .row,
.flex2 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.news .article {
  width: 33.33%;
  height: 400px;
  -webkit-box-shadow: 15px 3px 20px rgba(187, 187, 187, 0.85);
  box-shadow: 15px 3px 20px rgba(187, 187, 187, 0.85);
  margin: 15px;
  background: #fff;
  position: relative;
  border-radius: 2%;
  overflow: hidden; }

.news .article {
  width: 50%; }

.article .blockTextPost {
  width: 100%;
  height: 80px;
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 0;
  background-color: #1dc4c4b8;
  border-radius: 2%;
  padding: 10px; }

.row img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }

.news img:hover {
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03); }

.article .linkArticle {
  position: absolute;
  width: 100%;
  height: 100%; }

.linkArticle .text {
  position: absolute;
  font-size: 3.5rem;
  margin-left: 13px; }

/*--
div[class^="hoverbox"] img {
    -webkit-transition: transform 0.4s cubic-bezier(.165,.84,.44,1);
    transition: transform 0.4s cubic-bezier(.165,.84,.44,1);
}
    img {
    width: auto;
    max-width: 100%;
    height: auto;
}
div[class^="hoverbox"] {
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    display: inline-block;
}
//блок с легким затемнением
.hoverbox-8 a:before, .hoverbox-9 a:before, .hoverbox-10 a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background: rgba(255,255,255,.1);
    width: 100%;
    height: 100%;
    -webkit-transition: ease-out 0.12s;
    transition: ease-out 0.12s;
}
--*/
